<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="style/style.css" />
		<link rel="stylesheet" href="style/issue.css" />

		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<title>Profile</title>
	</head>
	<body>
		<div id="container">
			<div id="header" class="section">
				<div>
					<div>
						<h1><%= config.get('site_name') %></h1>
					</div>
					<div>
						<h2>
							<a class="backArrow" href=".">
								<img src="img/arrow-left.png">
								Home
							</a>
						</h2>
					</div>
				</div>
			</div>

			<div id="contentContainer">
				<div class="section">
					<h2>User profile</h2>
					<p>
						E-mail address: <%= authenticatedUser.email %>
					</p>
					<p>
						User ID: <%= authenticatedUser.id %>
					</p>
					<p>
						Permissions: <%= (authenticatedUser.permissions ? authenticatedUser.permissions : ['No data.']).join(', ') %>
					</p>
					<p>
						<form action="api/logout" method="POST">
							<input type="submit" value="Log out">
						</form>
					</p>
					<p>
						<a href="pwchange">Change password</a>
				</div>
			</div>

			<div id="footer" class="section">
				<p>
					<%- config.get("copyright_text") %>
				</p>
			</div>
		</div>
	</body>
</html>
